* {
    margin: 0px;
    padding: 0px;
}

body {
    /* background: bisque; */
}

#header {
    background: greenyellow;
    margin-bottom: 5%;
    padding: 0.5%;
}

/*
#siteTitle {
    margin-right: 70%;
}
*/

.headerElement {
    margin-right: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#sidebar {
    border: solid silver 1px;
    padding: 5%;
}

.flexWrap {
    display: flex;
}